// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.border{
  padding: 15px;
  color: #ffffff;
  
}

.container{
  padding-top: 25px;
}

.grid{
  padding-bottom: 25px;
}
